<ion-view view-title="{{spice.title}}">
<ion-header-bar class="bar-stable">
	<h1 class="title">{{spice.title}}</h1>
</ion-header-bar>
<ion-content>

	<div class="list card">
	  <div class="item item-avatar">
	    <img src="{{spice.img}} ">
	    <h2>{{spice.title}}</h2>
	    <p></p>
	  </div>

	  <div class="item item-body">
	    <img class="full-image" src="{{spice.img}}">
	    <p>
	      {{spice.description}}
	    </p>
	    <p>
	      <a href="#" class="subdued">1 Like</a>
	      <a href="#" class="subdued">5 Comments</a>
	    </p>
  </div>

</div>
</ion-content>
</ion-view>
